<p><%= link_to 'Add a new form', new_form_path, class: "btn btn-primary btn-lg", role: :button %></p>
<br />

<% @forms.each do |form| %>
  <p>
    <%= link_to form.form_title, form %>
    <br />
    <%= link_to 'Delete', form_path(form), method: :delete, data: {confirm: "Are you sure you want to delete\n\n#{form.form_title}"} %>
  </p>
<% end %>
