<p><%= link_to 'Add a new form', new_form_path, class: "btn btn-success btn-lg", role: :button %></p>
<br />

<div class="list-group">
  <% @forms.each do |form| %>
    <div class="row">
      <div class="col-md-5">
        <%= link_to form.form_title, form, class: "list-group-item" %>
      </div>
      <div class="col-md-1">
        <%= link_to 'Delete', form_path(form), method: :delete, class: "btn btn-danger", role: :button %>
      </div>
    </div>
  <% end %>
</div>
