<%#
Local variables
---------------
field: Field object
%>
<p>
  <code><%= field.name %></code>
  <br />
  <code><%= field.odk_type %></code>
  <br />
  <%= field.label %>
  <br />
  <%= link_to 'Delete', field_path(field), method: :delete %>
</p>
