<%#
Local variables
---------------
form: form_for helper
attribute: attribute name
field: the field itself (<input>, <select>, etc.)

Optional
--------
post_label: text to follow the label
columns: number of columns
%>
<div class="form-group">
  <%= form.label attribute %>
  <% if local_assigns[:post_label].present? %>
    <%= post_label %>
  <% end %>
  <div class="row">
    <% columns = 6 unless local_assigns.has_key?(:columns) %>
    <div class="col-md-<%= columns %>">
      <%= field %>
    </div>
  </div>
</div>
